body {
	margin: 0;
	margin-top:80px;
	padding: 0;
	text-align:justify;
	font: 1.2em "source-sans-pro";
	line-height: 1.7em;
	color: black;
	background: white;
}

#container {
	margin-left: auto;
	margin-right: auto;
}

.menubar {
  font: .9em "adelle";
  color: #aaa;
  line-height: 1.6em;
  margin-top: 0;
  padding-top: 0;
}

#header {
  background-color: rgb(255,255,255);
  background-color: rgba(255,255,255,.9);
  position:fixed;
  top:0;
  z-index:100;
  width:100%;
}

.menubar a {
  color: #aaa;
  text-decoration: none;
}

.menubar a:hover {
  color: #009144;
}

#header {
  margin-bottom: 3em;
  padding-top: 0.3em;
}

.footer {
  margin-top: 3em;
  padding-bottom: 0.3em;
  border-top:1px solid #ddd;
  text-align:center;
}

h2 {
  font-size: 1.8em;
  font-family: "Adelle";
  font-weight: 100;
  line-height: 1.2em;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.2em;
  margin-bottom: -0.3em;
  margin-top: 0;
}


h3 {
  font-family:"adelle";
  font-size: 1.3em;
  font-weight: normal;
}
@media only screen and (max-width: 767px) {
	h3 {
		text-align:center;
	}
}

h3.title {
  margin-bottom:0.3em;
}

h1 {
  font-size: 2em;
  font-weight: normal;
  border-bottom: 1px solid #ddd;
}

h1, .post, .link-post {
  padding-bottom: 8px;
	margin-bottom: 48px;
}


.link-post h2 {
  font-size: 1.4em;
}

code {
  font-family:"Droid Sans Mono",monospace;
  font-size:.9em;
  padding-left: 0.2em;
  padding-right: 0.2em;
  border: 1px solid #ddd;
  background: #f9f9f9;
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
}

pre code {
  font-family:"Droid Sans Mono",monospace;
  font-size:.7em;
  border:none;
  background:none;
  padding-left: 0.2em;
  padding-right: 0.2em;
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
}

.highlight {
  margin-top: -0.3em;
}

.osx-shortcut {
	background: #f0f0f0;
  padding-left: 0.2em;
  padding-right: 0.2em;
  border: 1px solid #e0e0e0;
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;	
}

.meta {
  font-family: "adelle";
  font-size: 0.9em;
  font-weight: bold;
  color: #999;
  border-top: 1px solid #ddd;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  margin-top: -0.6em;
}
@media only screen and (max-width: 767px) {
	.meta, .oldmeta {
		text-align: center;
	}
}

.meta a, .oldmeta a, .content a, .related a {
  color: #009144;
  text-decoration: none;
  border-bottom: 1px dotted #d3eedf;
  word-wrap:break-word;
}

.meta a , .oldmeta a {
  font-weight: normal;
  
}

.meta a:hover, .oldmeta a:hover, .content a:hover, .related a:hover {
  border-bottom: 1px solid #d3eedf;
}

.oldmeta {
  font-family: "adelle";
  font-size: 0.9em;
  font-weight: bold;
  color: #999;
  border-top: 0px;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  margin-top: -0.6em;
}

.title a {
  color: black;
  text-decoration: none;
  border: none;
  padding: 0;
  margin: 0;
  background: white;
}

.title a:hover {
  border: none;
}

.video {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-bottom: 0;
  text-align: center;
}

pre {
  line-height: 1.4em;
  color: white;
  display:block;
  background: #222;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  padding: 0.6em;
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.related {
  padding-top: 1em;
  color: #aaa;
  font-family: "source-sans-pro";
  font-size: 0.9em;
  line-height: 1.7em;
}

.related h3 {
  font-size: 1.2em;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0;
  margin-bottom: 0;
}

.related p {
  margin-top: 0.4em;
}

.content p {
  margin-bottom: 1.3em;
}

#disqus_thread {
  margin-top: 2em;
}

#related {
  margin-bottom:2em;
}

@media only screen and (max-width: 767px) {
	h2 {
		text-align:center;
	}
}
